

/* ESTE VALE */




body {
  background-color: black;
  color: cyan;
}

/* Reglas por id */

#displayContador {
  position: relative;
  border: double;
  color: rgb(51, 255, 0);
  margin: 5px;
  padding: 10px;
  width: fit-content;
}

#claveDesbloqueo {
  font-size: 28px;
  color: cyan;
}

#start, #stop, #reset {
  padding: 10px;
  margin: 5px;  
}

/* Reglas por class */

.digito {
  display: inline-block;
  background-color: #5c5c5c;
  color: white;
  padding: 10px;
  margin: 10px;
}

.unaCaja {
  text-align: center;
  margin-bottom: 10px;
  border: 2px solid;
  color: rgb(108, 255, 218);
  
}