/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }
  
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.izquierda {
  width: 30%;
}

.derecha {
  width: 70%;
}

 /*PROBAR
#seccion1 {
  background: linear-gradient(to right, #d1d1d1, #bbbbbb);
}

#seccion2 {
  background: linear-gradient(to left, #bbbbbb, #d1d1d1);
}
*/

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
  content: "";
  display: table;
  clear: both;
}

#infoAbout {
  background-color: rgb(197, 197, 197); 
  padding-left: 10px; 
  padding-top: 1px;
  line-height: 1.4;
}


#partesS1 {
  font-weight: bold;
  padding-left: 8px; 
  padding-top: 5px;
  margin-bottom: 5px;
}

#infoS1 {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 10px;
  text-align: justify;
  line-height: 1.25;
}

#logos {
  display: block;
  width: 50%; 
  margin-left: 25%; 
  border-radius: 20px; 
  margin-top: 10px;
  margin-bottom: 8px;
}

#logosMini {
  display: block;
  width: 35%;
  margin-left: 32.5%;
  border-radius: 25px;
}

#logosMI {
  display: inline-block;
  width: 65%; 
  margin-left: 15%; 
  border-radius: 10px; 
  margin-top: 2%;
  margin-bottom: 5%;
}

a {
  color: darkmagenta;
}

#c1 {
    background-color:#d1d1d1;
}

#c2 {
    background-color:#bbbbbb;
}

#boxes {
  padding: 5px;
  margin: 5px;
  border: solid;
  border-width: 2px;
  border-color: rgb(97, 97, 97);
  width: auto;
  cursor: pointer;
  font-size: 80%;
  margin-bottom: 3%;
}

.boton {
  padding: 15px 25px;
  display: inline-block;
  background-color: #99f3ff;
  border-radius: 15px;
  color: black;
  text-align: center;
  font-weight: bold;
}

#botonCaja {
  display: inline-block;
  cursor: pointer;
  font-size: 80%;
  color: black;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  width: 30%;
  padding: 1%; 
  margin-top: 2%;
  margin-bottom: 2%;
  border: solid;
  border-width: 2px;
  border-color: rgb(97, 97, 97);
  background-color: hsl(150, 96%, 82%);
  border-radius: 20px;
}

#botonCaja1 {
  display: inline-block;
  cursor: pointer;
  font-size: 85%;
  color: black;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  width: 20%;
  padding: 1%; 
  margin-bottom: 5%;
  margin-right: 5px;
  border: solid;
  border-width: 2px;
  border-color: rgb(97, 97, 97);
  background-color: hsl(150, 96%, 82%);
  border-radius: 20px;
}
/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

img {
  width: 80%;
  height: auto;
}

#imagen {
  width: 90%;
  margin-left: 5%;
  margin-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

h2 {
  margin-left: 10px;
}

.iresponsive {
    padding: 5px;
    float: left;
    width: 100%;
  }

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */