/* Esto se utiliza para que las cajas 
se adecuen al tamaño dado y no se le añada tambien el padding y el borde
*{
  box-sizing: border-box;
}
*/



/* Propiedades de la caja del cuerpo */
body {
    padding: 5px;  /* relleno */
    margin: 10px;  /* Margen */
    border:double;
    border-color: rgb(0, 0, 0);
    width: auto;
}
  
  /*  Propiedades de la caja del párrafo */
  
p {
    padding: 5px;
    margin: 5px;
    border:dashed;
    border-color: rgb(0, 153, 255);
    width: auto;
}
